* {
  box-sizing: border-box;
}

/* Add a background color to the page. */
body {
  background-color: #ededed;
  height: 100%;
  margin: 0;
  overflow-x: hidden;

  font-family: Montserrat;
  color: black;
}

/* Header */
.header {
  position: relative;
  //width: 100%;
  //margin-right: 30px;
  top: 60px;
  padding-left: 30px;
}


/* Info */
.info {
  position: relative;
  //width: 100%;
  //height: 60%;
  //height: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  top: 80px;
  display: flex;
  flex-wrap: nowrap;
  gap: 3vw;
}

.text {
  width: 40%;
  min-width: 435px;
}


/* Profile Pic */
.profile-pic {
  position: relative;
  width: 20%;
  height: auto;
  aspect-ratio: 3/4;
  min-width: 520px;
  max-width: 1120px;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../images/profile_pic.avif");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .info {
    flex-wrap: wrap-reverse;
  }
  
  .text {
    position: relative;
    width: 100%;
    min-width: 0px;
  }

  .profile-pic {
    width: 100%;
    min-width: 0px;
  }
}